* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 10px 0 0 0;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  background: linear-gradient(142deg, #2b192a 0%, #4d1441 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-height: 650px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}


.content-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

.coupons,
.info-btn {
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(-121deg, #9060a7 0%, #6a3d67 100%);
  background-size: 150%;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.07);
}

.coupons_icon {
  width: 20px;
}

.coupons a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.info_icon {
  width: 17px;
}

.info-btn p {
  margin-left: 10px;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 42px;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.gift-section {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 1005;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gift {
  width: 60px;
}

.gift-btn {
  margin-top: 5px;
  background: rgba(255, 64, 212, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.gift-btn[disabled] {
  cursor: not-allowed;
}

.wheel-container {
  overflow: hidden;
  position: relative;
  width: 380px;
  height: 380px;
  box-shadow: 0px 0px 45px 5px rgba(248, 32, 255, 0.2),
    0px 0px 45px 5px rgba(248, 32, 255, 0.2) inset;
  border-radius: 50%;
}

.wheel1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 1000;
}

.wheel2 {
  position: absolute;
  top: 65px;
  left: 75px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 5px 25px 5px rgba(73, 37, 74, 0.2),
    0px 0px 55px 1px rgba(73, 37, 74, 0.2) inset;
  transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 1001;
}

.wheel3 {
  position: absolute;
  top: 115px;
  left: 125px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 3px 15px 5px rgba(73, 37, 74, 0.2),
    0px 0px 5px 5px rgba(73, 37, 74, 0.2) inset;
  transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
  user-select: none;
  z-index: 1002;
}

.btn-spin {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 130px;
  height: 130px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  touch-action: manipulation;
  z-index: 1003;
}

.btn-spin-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 2px rgba(73, 37, 74, 0.2),
    0px 0px 10px 5px rgba(73, 37, 74, 0.2) inset;
  background: none;
}

.arrow1 {
  width: 40px;
  height: 45px;
  position: absolute;
  top: 25%;
  left: 45%;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 7px rgba(255, 158, 12, 0.52),
    0px 0px 10px 5px rgba(255, 158, 12, 0.52) inset;
  z-index: 1001;
}

/* .arrow2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 102px;
  left: 190px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 7px rgba(255, 158, 12, 0.52),
    0px 0px 10px 5px rgba(255, 158, 12, 0.52) inset;
  z-index: 1002;
}

.arrow3 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 140px;
  left: 190px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 7px rgba(255, 158, 12, 0.52),
    0px 0px 10px 5px rgba(255, 158, 12, 0.52) inset;
  z-index: 1003;
} */

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.spins-section {
  margin-bottom: 5px;
  padding: 5px;
  width: 90%;
  background-color: #6d296f;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #c156c3;
}

.spins-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
}

.roulette_icon {
  width: 35px;
}

.spins-left {
  margin-left: 15px;
  font-size: 20px;
}

.ref-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 65px;
}

.invite,
.free-spin {
  width: 48%;
  height: 65px;
  padding: 5px 2% 0 2%;
  background-color: #6d296f;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #c156c3;
}

.invite p,
.free-spin p {
  margin: 0 0 5px 0;
  font-size: 10px;
}

.invite-btn,
.free-spin-btn {
  width: 90%;
  height: 30px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  background: linear-gradient(321deg, #d618ff 0%, #ff16ff 100%);
  background-size: 150%;
  box-shadow: 1px 1px 1px 1px rgba(73, 37, 74, 0.5);
  color: #ffffff;
  border-radius: 8px;
  border: none;
}

.disabled_btn {
  background: linear-gradient(321deg, #6d456d 0%, #6d456d 100%);
}

.disabled_timer {
  color: lightgray;
}

.free-spin span {
  width: 100%;
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  background-color: #6e2473;
  border-radius: 12px 12px 0 0;
  border-top: 1px solid #c156c3;
  padding: 2%;
  text-align: center;
}

.roulet_btn,
.friends_btn,
.tasks_btn {
  width: 100px;
  max-height: 70px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px;
  border-radius: 12px;
  border: none;
  background: none;
}

.menu_roulette_icon,
.menu_friends_icon,
.menu_tasks_icon {
  width: 20px;
}

.menu a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.menu .active {
  color: #ffffff;
  background-color: #ff40d4;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s, visibility 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 1005;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #202020;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 500px;
  width: 90%;
  height: 300px;
  z-index: 1006;
}

.prize_img {
  width: 300px;
  border-radius: 5px;
}

.iphone {
  background-image: url(./Photos/prizeIphone.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.prize5000 {
  background-image: url(./Photos/prize5000.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.star10 {
  background-image: url(./Photos/star10.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.star50 {
  background-image: url(./Photos/star50.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.star100 {
  background-image: url(./Photos/star100.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.star300 {
  background-image: url(./Photos/star300.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.spin {
  background-image: url(./Photos/spin_prize.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.modal-content a {
  height: 40px;
  width: 150px;
  margin-bottom: 20px;
  padding: 5px 15px;
  align-self: center;
  border-radius: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #ff40d4;
}

.close-button {
  align-self: flex-end;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

.close-button:hover {
  color: #ff40d4;
}

.gift_modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #202020;
  position: relative;
  background-image: url(./Photos/gift_modal.webp);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.gift_modal-content a {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 16px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff40d4;
}

.welcome_modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #202020;
  position: relative;
  background-image: url(./Photos/welcome.webp);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.welcome_modal-content a {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 16px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff40d4;
}

.warning_modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #202020;
  position: relative;
  background-image: url(./Photos/warning.webp);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.warning_modal-content a {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 200px;
  margin-bottom: 50px;
  border-radius: 16px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff40d4;
}

@media (max-width: 400px) {
  .gift-section {
    top: 40px;
    right: 10px;
  }
  body {
    min-height: auto;
  }
  .gift {
    width: 50px;
  }
  .gift-btn {
    font-size: 10px;
  }
  .wheel-container {
    width: 90vw;
    height: 90vw;
    max-width: 360px;
    max-height: 360px;
  }
  .wheel1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .wheel2 {
    width: 65%;
    height: 65%;
    top: 17.5%;
    left: 17.5%;
  }
  .wheel3 {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
  }
  .btn-spin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }
  .btn-spin-img {
    width: 120px;
    height: 120px;
  }
  .arrow1,
  .arrow2,
  .arrow3 {
    width: 8%;
    height: 10%;
    border-radius: 50%;
  }
  .arrow1 {
    top: 25%;
    left: 46%;
  }
  .arrow2 {
    top: 26%;
    left: 46%;
  }
  .arrow3 {
    top: 37%;
    left: 46%;
  }
}
@media (max-width: 350px) {
  .btn-spin-img {
    width: 100px;
    height: 100px;
  }
  .gift {
    width: 40px;
  }
  .gift-btn {
    font-size: 8px;
  }
}

@media (max-width: 300px) {
  .btn-spin-img {
    width: 90px;
    height: 90px;
  }
  .coupons,
  .info-btn {
    font-size: 10px;
  }
}
